html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', serif;
    overflow-x: hidden;
}

body {
    position: relative;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

li {
    display: inline;
}
a:hover, button:hover {
    cursor: pointer;
}

article {
    line-height: 1.4;
}
article > * {
    min-width: 0;
}
article > p {    
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Georgia, serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    color: rgba(0, 0, 0, 0.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

code {
    background: #eee;
    padding: 2px 5px;
}
pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
}
pre > code {
    padding: 0;
}