/* NAV */

nav {
    background: rgba(119, 219, 131);
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: 'Lucida Grande', sans-serif;
    position: fixed;
    box-shadow: 0px 0px 15px #c6c6c6;
}
a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: #d0d0d0;
    font-size: 14px;
}
a:hover {
    color: black;
}
.upperNav {
    background: white;
    padding: 15px;
    align-items: center;
}
#navbar .homelink, #navbar .companylink {
    margin-left: 60px;
    padding: 0;
}
input {
    float: right;
    margin: 10px;
}
.signin, .getstarted {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    color: #329f10;
    font-size: 8px;
    font-family: 'Lucida Grande', sans-serif;
}
.signin {
    margin-top: 8px;
}
.signin:hover {
    color: #327a18;
}
.getstarted {
    padding: 10px 16px;
    border: 1px solid #329f10;
    border-radius: 4px;
    margin-top: 2px;
}
.getstarted:hover {
    color: #327a18;
    border-color: #327a18;
}

.lowerNav {
    height: 56px;
    padding: 0 15px;
}
.companylink {
    margin: 0 100px;
}
#navbar img {
    width: 46px;
    height: 46px;
    padding: 0;
}
#navbar img.companyicon {
    width: 56px;
    height: 56px;
}
.lowerNav ul {
    height: 56px;
}
.lowerNav div {
    float: left;
}
nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-top: 1px #ccc solid;
}
nav li {
    margin-right: 30px;
    /* padding: 0 5px; */
}
nav a {
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    color: #555;
    /* text-transform: uppercase; */
    font-size: 14px;
    margin-right: 30px;
}
.separator {
    margin-top: 7px;
    min-width: 1px;
    height: 28px;
    background: rgba(0, 0, 0, 0.5);
    margin-left: -40px;
    margin-right: 20px;
}
@media screen and (max-width: 767px) {
    li {
        visibility: hidden;
    }
    .logo {
        visibility: visible;
    }
    .separator {
        min-width: 0;
    }
}


/* ARTICLE */

article {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
    margin-top: 120px;

}
article > * {
    grid-column: 4;
}
article > figure {
    grid-column: 1 / -1;
    margin: 20px 0;
}
article h1 {
    font-family: 'Palatino', serif;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 0;
}
article h2 {
    font-family: 'Palatino', serif;
    font-weight: 400;
    color: #777;
    font-size: 20px;
    padding: 0;
}
.authorbox {
    font-size: 8px;
    float: left;
}
.authorbox img {
    height: 40px;
    width: 40px;
    float: left;
}
.author a {
    margin: 0;
    padding: 0;
    color: #333 !important;
}
.author a:hover {
    text-decoration: underline;
}
.author button {
    background: white;
    border-radius: 4px;
    border-color: #333;
    color: #333;
    font-size: 6px;
    font-family: 'Lucida Grande', sans-serif;
    padding: 0 8px;
}
button:hover {
    border-color: black;
}

.authorbox span {
    color: #828282;
}
.icons {
    float: right;
}
.icons a {
    padding: 0;
}
.authorIconsContainer {
    margin-bottom: 40px;
}

.highlight {
    font-style: italic;
    cursor: pointer;
    background-color: rgba(119, 219, 131, 0.3);
}

.highlight:hover {
    background-color: rgba(119, 219, 131, 0.9);
}

article > .aside {
    font-family: 'Lucida Grande', sans-serif;
    margin: 30px 20px;
    color: #666;
    font-size: 0.8em;
    grid-column: 5 / -1;
    font-style: italic;
    cursor: pointer;
}

article > blockquote {
    grid-column: 3 / span 2;
    margin: 0px 0;
    color: #666;
    border-left: 3px solid black;
    padding-left: 10px;
    font-style: italic;
}

figure figcaption {
    color: #666;
    font-style: italic;
    font-size: 0.8em;
}


/* MODAL */

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    padding-top: 70px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback */
    background-color: rgba(256, 256, 256, 0.9);
}
.modal-content {
    font-family: 'Palatino', serif;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 0;
    background-color: #fefefe;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.9s;
    animation-name: animatetop;
    animation-duration: 0.9s;
}
@-webkit-keyframes animatetop {
    from { top: -300px; opacity: 0; } 
    to { top: 0; opacity: 1; }
}
@keyframes animatetop {
    from {
        top: -300px; 
        opacity: 0;
    }
    to {
        top: 0; 
        opacity: 1;
    }
}
.modal-header {
    padding: 60px 4vw 10px;
}
.modal-content h2 {
    font-weight: 400;
    padding: 0 6vw;
}
.modal-subheader p {
    font-size: 12px;
    color: #777;
    font-weight: 400;
    padding: 0 14vw;
    margin: 0 auto 20px;
}
.modal-body {
    padding: 5px 16px;
}
.modal-body button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 12px;
    background-color: white;
    border-color: #bfbfbf;
}
.modal-body button:hover {
    border-color: black;
}

.close {
    float: right;
    padding: 10px;
    color: #ddd;
    font-size: 32px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* FOOTER */

.footer {
    background-color: #181818;
    padding: 16px;
    height: 60px;
}
.footer .homelink {
    float: left;
}
.footer img {
    width: 46px;
    height: 46px;
    padding: 0;
}
.footertextlinks a {
    font-size: 8px;
    font-family: 'Lucida Grande', sans-serif;
    float: right;
    color: #bbb;
    margin-top: 15px;
    margin-right: 10px;
}
.footertextlinks a:hover {
    color: #bbb;
    text-decoration: underline;
}